<p id="notice"><%= notice %></p>
<center>
<div class="card">
  <div class="card-container">
    <% if @existssss %>
    <h1><b><%= link_to "#{@team.name} (#{@team.id})",@team %></b></h1>
    <% else %>
    <h1><b><%= @team.name %> (<%= @team.id %>)</b></h1>
    <% end %>
    <p><%= @team.location %></p>

    <% if @team.blurb%>
        <%= @team.blurb.html_safe %>
    <% else %>
        <p> Are you on this team and want to add a blurb/contact info?</p>
        <%= link_to("Add blurb","https://goo.gl/forms/ZoSendQUO2Y8c9N92",class:"pure-button button-primary nav-link inline") %>
    <% end %>
  </div>
  <% if @team.website.length > 0  %>
  <div class="card-contact">
      <p><i class="fa fa-link"></i> <%= link_to(@team.website,@team.website) %>
      </p>
  </div>
  <% end %>
  <%  if @team.contact_email  and @team.contact_email.length > 0  %>
  <div class="card-contact">
      <p><i class="fa fa-envelope-o"></i> <%= link_to(@team.contact_email,"mailto:"+ @team.contact_email)%>
      </p>
  </div>
  <% end %>
  <%  if @team.contact_twitter  and @team.contact_twitter.length > 0  %>
      <div class="card-contact">
          <p><i class="fa fa-twitter"></i> <%= link_to("@" + @team.contact_twitter,"http://twitter.com/" + @team.contact_twitter) %>
          </p>
      </div>
  <% end %>
  <%  if @team.contact_facebook  and @team.contact_facebook.length > 0  %>
  <div class="card-contact">
      <p><i class="fa fa-facebook"></i> <%= link_to("Facebook Page",@team.contact_facebook)%>
      </p>
  </div>
  <% end %>

  <%  if @team.contact_youtube  and @team.contact_youtube.length > 0  %>
  <div class="card-contact">
      <p><i class="fa fa-youtube"></i> <%= link_to("Youtube",@team.contact_youtube)%>
      </p>
  </div>
  <% end %>
</div>
</center>
