<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= link_to @team.name , @team %>
</p>

<p>
  <strong>Team Number:</strong>
  <%= @team.id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @team.location %>
</p>

<% if @team.team_assets[0] %>
<p>
  <strong>Website:</strong>
  <%= link_to(@team.team_assets[0].content,@team.team_assets[0].content) %>
</p>
<% end %>
