<% content_for :title do %><%= @team.name %>
(<%=@team.id %>) -- FTCRoot<%end %>
<p id="notice"><%= notice %></p>
<center>
    <h1>
        <%= @team.name %> (<%= @team.id %>)
    </h1>
    <p>
        <%= @team.location %>
    </p>
    <% if @team.website.length > 0%>
    <p>
        <%= link_to(@team.website,@team.website) %>
    </p>
    <% end %>
    <% if @team.blurb%>
    <%= @team.blurb.html_safe %>
    <% else %>
    <p> Are you this team and want to add a blurb/contact info? <br/><%= link_to("Add blurb","mailto:help@ftcroot.com",class:"pure-button button-primary nav-link") %></p>
    <% end %>
</center>

<%= render "shared/eventresults" %>
<%#= link_to("Test","#",:class=>"score_popup_open") %>

<% if @avgData[@important][0] > 0 %>
<%= pie_chart [["Autonomous (#{@avgAuto})",@avgAuto],["Teleop (#{@avgTele})",@avgTele],["End Game (#{@avgEnd})",@avgEnd]],title:"#{@competitions[@important][:meet].name}. score #{@@avgData[@important][0]})" %>
<% end %>
<% if @competitions.length > 0 %>
<p>
    Note:
    <i class="fa fa-trophy" aria-hidden="true"></i>=WIN, empty for LOSS</p>
<table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th colspan="2">Event Name</th>
            <th>Score</th>
            <th>Opp Score</th>
            <th>Result</th>
            <!-- <th colspan="3"></th> -->
        </tr>
    </thead>
    <tbody>
        <% @competitions.each_with_index do |meet,i| %>
            <tr>
                <th colspan="4"><%= link_to(meet[:meet].name,meet[:meet]) %></th>
                <th><%= meet[:meet].date %></th>
                <!-- <th> </th> -->
            </tr>
            <% wins = 0 %>
            <% draws = 0 %>
            <% meet[:data].each do |match| %>
                <tr>
                    <td></td>
                    <td><%= match[:name] %></td>

                    <% if match[:owndetails].length > 0 %>
                        <td colspan="1"><%= button_to(match[:ownscore],"#", class:"score_popup_open pure-button button-full",data:match[:owndetails]) %></td>
                    <% else %>
                        <td colspan="1"><%= match[:ownscore] %></td>
                    <% end %>
                    <td>v.s. <%= match[:oppscore] %></td>

                    <% if match[:ownscore].to_i > match[:oppscore].to_i %>
                    <td>
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                    </td>
                    <% wins += 1 %>
                    <% elsif  match[:ownscore].to_i == match[:oppscore].to_i %>
                    <% draws += 1 %>
                    <td>DRAW</td>
                    <%else %>
                    <td></td>
                </tr>
            <% end
            end %>
            <tr>
                <th colspan="1">Results</th>
                <th colspan="2">
                    Average Pre-penalized score: <%= @avgData[i][1] %></th>
                <th colspan="2">
                    Vals:
                    <i class="fa fa-trophy" aria-hidden="true"></i><%= wins %>/<%= @avgData[i][0] - wins - draws %>
                    = total
                    <%= @avgData[i][0] %></th>
            </tr>
        <% end %>
    </tbody>
</table>
<% else %>
<table>
    <center>
        <h5>
            There are no competitions to show for this team. If you want to help out, have your mentor send result files to
            <a href="mailto:help@ftcroot.com">help@ftcroot.com</a>
        </h5>
    </center>
</table>
<% end %>
<%#= link_to 'Back', 'javascript:history.go(-1);' %>
