<% content_for :title do %><%= @team.name %> (<%=@team.id %>) -- FTCRoot<%end %>
<p id="notice"><%= notice %></p>

<h2>
    <%= @team.name %>
</h2>

<p>
    <strong>Team ID:</strong>
    <%= @team.id %>
</p>

<p>
    <strong>Location:</strong>
    <%= @team.location %>
</p>

<% if @competitions != [] %>
<table>
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Score</th>
            <th>Result</th>
            <!-- <th colspan="3"></th> -->
        </tr>
    </thead>
    <tbody>
        <% @competitions.each do |event| %>
        <tr>
            <td><%= link_to(event.league_meet.name,event.league_meet) %></td>
            <% if @team.id == event.red1 or @team.id == event.red2 %>
            <td><%= event.redscore %></td>
            <% if event.redscore > event.bluescore %>
            <td>WIN</td>
            <% elsif event.redscore == event.bluescore %>
            <td>DRAW</td>
            <%else %>
            <td>LOSS</td>
        <% end
            else %>
            <td><%= event.bluescore %></td>
            <% if event.redscore < event.bluescore %>
            <td>WIN</td>
            <% elsif event.redscore == event.bluescore %>
            <td>DRAW</td>
            <%else %>
            <td>LOSS</td>
            <% end
            end
            %>

        </tr>
        <% end %>

    </tbody>
</table>
<% end %>
<%= link_to 'Back', 'javascript:history.go(-1);' %>
