<% content_for :title do %>FTCRoot Forum Search<% end %>
<h2>FTC Forum Search</h2>
<p style="color:blue;"> Note: These are only the OFFICIAL clarifications from the FTC Design Committee</p>
<p>From the <%= link_to "Official FIRST FTC Forum", "http://ftcforum.usfirst.org/forumdisplay.php?207-Answers-Game-Rules" %>
<p>Search for keywords ("height cap ball") or if specific rules ie: "g8" (For "GS1" you can search "GS1g" for better results)</p>
<%= form_tag("/search", method: "get",:class => "pure-form") do %>
  <p>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q,params[:q]) %>
  <%= submit_tag("Search", :class=>"pure-button pure-button-primary") %>
  <span style="font-size:12px">Answers last pulled on: 20170130</span></p>
<% end %>


<% @results.each do |q| %>
<%= highlight(q.html_safe,@keywords, highlighter: '<mark style="color:#F00;"><b>\1</b></mark>') %>
<% end %>

<style>
    .postcontent {
	    font-size:15px;
    	background: #eee none;
    	border-radius: 5px;
    	padding: 15px;
    }
    .bbcode_container {
	margin:20px;
	margin-top:5px;
	display:block;
}

.bbcode_container .bbcode_desc {
	margin-bottom:2px;
	font-size:11px;
}
.bbcode_container div.bbcode_quote {
	margin:0 10px;
	margin-bottom: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #f2f6f8 none   ;
	border-radius: 5px;
	border: 1px solid #810507;
	font: italic  normal 13px Tahoma,Calibri,Verdana,Geneva,sans-serif;
	position: relative;
	top: 0;
}

.bbcode_container .bbcode_quote_container {
	background: transparent url(images/misc/quote-left.png) no-repeat  left;
	display:block;
	width: 9px;
	height: 13px;
	position: absolute;
	top: 5;
	left: -9px;
}

.bbcode_quote div.quote_container {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
}

.bbcode_quote .bbcode_postedby img {
	position: relative;
	top: 1px;
}

.bbcode_container div.bbcode_quote.printable {
	background:none;
	border:none;
}

.bbcode_container div.bbcode_quote div.message {
	/*font-style:italic;*/
	padding:8px 0px;
}

/* fix the bug where li's in quotes are floated */
.bbcode_container div.bbcode_quote div.message ol>li, .bbcode_container div.bbcode_quote div.message ul>li{
	float: none;
}

/* from components.css */
.bbcode_postedby {
	font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
}
</style>
