<% content_for :title do %>FTCRoot Global Stats<% end %>
<h1>Global Stats</h1>
<p> NOTE: Only teams with DETAILED match data will be ranked. Contact us with match data to be placed in a ranking </p>
<h2>
    High Scorers
</h2>
<p>
    If your team has a higher score, plz contact me :P
</p>
<p>
    This is penalty normalized
</p>

<%= render "shared/eventresults" %>
<div class="overflow-big">
<center>
    <table class="pure-table pure-table-horizontal centered">
        <thead>
            <tr>
                <th>Rank</th>
                <th class="td-superimportant">Match</th>
                <th colspan="2">Team</th>
                <center>
                    <th>Score</th>
                    <th class="td-meh"></th>
                </center>
            </tr>
        </thead>
        <% @highScores.each_with_index do |event,ind| %>
        <tr style="border-top:2px solid gray;">
            <td><%= ind + 1 %></td>
            <td><%= link_to(event.league_meet.name,event.league_meet) %> (<%=event.league_meet.region.name %>) - <%= event.name %>
            <br/>
            <%= event.league_meet.date %>
            </td>
            <% if event.redscore > event.bluescore %>
            <% ([event.red1, event.red2]).each do |team| %>
            <td class="teamred">
                <% if Team.exists?(team) %>
                <% tt = Team.find(team) %>
                <%= link_to(team, tt) %>
                <span class="teamname">(<%= tt.name %>)</span>
            <% else %>
                <%= team %>
                <% end %>
            </td>
            <% end %>
            <% dat = "#{event.redscore},#{event.redauto},#{event.redteleop},#{event.redend},#{event.redpenalty}"%>
            <td><%= button_to((event.redscore).to_s,"#", class:"score_popup_open pure-button button-full",data:dat) %></td>
            <td class="teamred">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </td>
            <% elsif event.redscore == event.bluescore %>
            <td></td>
        <% else %>
            <% ([event.blue1,event.blue2]).each  do |team| %>
            <td class="teamblue">
                <% if Team.exists?(team) %>
                <% tt = Team.find(team) %>
                <%= link_to(team, tt) %>
                <span class="teamname">(<%= tt.name %>)</span>
            <% else %>
                <%= team  %>
                <% end %>
            </td>
            <% end %>
                <% dat = "#{event.bluescore},#{event.blueauto},#{event.blueteleop},#{event.blueend},#{event.bluepenalty}"%>
                <td><%= button_to((event.bluescore).to_s,"#", class:"score_popup_open pure-button button-full",data:dat) %></td>
                <td class="teamblue">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </td>

            <% end %>
        </tr>

        <% end %>
    </table>
</center>
</div>
<br/>
<!-- <h2>
    Highest Ranks
</h2> -->
