<% content_for :title do %>FTC Events Result Search<%end %>
<p id="notice"><%= notice %></p>

<h1>Events</h1>


<p>Note: if you have result files, send them to <a href="mailto:help@ftcroot.com">help@ftcroot.com</a></p>
<p>A lot of events have been added, but it is no means all of it. Thank you to everybody who has sent in meet results! </p>

<br/>

<%= form_tag(events_path(""), method: "get",:class => "pure-form") do %>
  <p>
    <%= label_tag(:search, "Search event name, location or date:") %>
    <%= text_field_tag(:search,params[:search]) %>
    <%= submit_tag("Search", :class=>"pure-button pure-button-primary") %>
  </p>
<% end %>
<table class="pure-table centered">
    <thead>
        <tr class="hidden-xs-down">
            <th colspan="2" style="text-align:left">Name</th>
            <th>Approx. Date</th>
            <th> Type </th>
            <th class="td-important">Region</th>
        </tr>
        <tr class="hidden-sm-up">
            <th colspan="3">Name</th>
        </tr>
        <tr class="hidden-sm-up">
            <th class="td-important">Approx. Date</th>
            <th class="td-meh"> Type </th>
            <th class="td-important">Region</th>
        </tr>
    </thead>

    <tbody>
        <% @events.each do |event| %>
        <tr class="hidden-xs-down">
            <td colspan="2" style="text-align:left"><%= link_to event.name, event %></td>
            <td><%= event.date %></td>
            <td><%= event.competitiontype %> </td>
            <td><%= link_to event.location, event.region %></td>
        </tr>
        <tr class="hidden-sm-up">
            <td colspan="3" style="font-size:105% !important;"><%= link_to event.name, event %></td>
        </tr>
        <tr class="hidden-sm-up">
            <td><%= event.date %></td>
            <td><%= event.competitiontype %> </td>
            <td><%= link_to event.location, event.region %></td>
        </tr>

        <% end %>

        <%= will_paginate @events %>
    </tbody>
</table>

<br>

<%#link_to 'New Event', new_event_path %>
