<% content_for :title do %><%=@event.name %>
(<%= @event.location %>
FTC Results)<%end %>
<p id="notice"><%= notice %></p>

<center>
    <h1>
        <%= @event.name %>
    </h1>

    <h3>
        <%= @event.location %>
        (~<%= @event.date %>)
    </h3>
    <p>
        Type:
        <%= @event.competitiontype %>
    </p>
</center>

<%= render "shared/eventresults" %>

<center>
    <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1">Rank</li>
        <li class="tab-link" data-tab="tab-2">Matches</li>
    </ul>
</center>
<script>
    $('ul.tabs li').click(function () {
        var tab_id = $(this).attr('data-tab');
        $('ul.tabs li').removeClass('current');
        $('.tab-content').removeClass('current');
        $(this).addClass('current');
        $("#" + tab_id).addClass('current');
    })
</script>

<div id="tab-1" class="tab-content current">
    <% if @event_stats.length > 0 %>
    <table class="pure-table pure-table-horizontal centered">
        <thead>
            <tr class="<%= "hidden-xs-down" if @enableTitles %>">
                <th>Rank</th>
                <th>Team</th>
                <th>QP</th>
                <th>RP</th>
                <th>Highest</th>
                <% if @enableTitles %>
                <th>Playoffs</th>
                <% end %>
            </tr>

            <% if @enableTitles %>
            <tr class="hidden-sm-up">
                <th rowspan="2">Rank</th>
                <th>Team</th>
                <th>QP</th>
                <th>RP</th>
                <th>Highest</th>
            </tr>
            <tr class="hidden-sm-up">
                <th colspan="4">Playoffs</th>
            </tr>
            <% end %>
        </thead>
        <% @event_stats.each do |team| %>
    <% if team[:rank] == '1'
                color = "#FFD700"
            elsif team[:rank] == '2'
                color = "#C0C0C0"
            elsif team[:rank] == '3'
                color= "#cd7f32"
            else
                color = "none"
            end %>
        <tr style="border-right: 3px solid <%= color %> !important;border-left: 3px solid <%= color %> !important;" class="<%= "hidden-xs-down" if @enableTitles %>">
            <td>
                <%= team[:rank] %>
                <%#= team[:elim] %>
            </td>

            <td>
                <% if Team.exists?(team[:id]) %>
                <% tt = Team.find(team[:id]) %>
                <%= link_to(team[:id], tt) %>
                <span class="teamname">(<%= tt.name %>)</span>
            <% else %>
                <%= team[:id] %>
                <% end %>
            </td>
            <td><%= team[:qp] %></td>
            <td><%= team[:rp] %></td>
            <td><%= team[:high] %></td>

            <% if @enableTitles %>
            <td>
                <%= "Winning" if team[:elim][0] == "W" %>
                <%= "Finalist" if team[:elim][0] == "F" %>
                <%= "Semifinalist" if team[:elim][0] == "S" %>
                <%= " Captain" if team[:elim][1] == "C" %>
                <%= " 1st Pick" if team[:elim][1] == "1" %>
                <%= " 2nd Pick" if team[:elim][1] == "2" %>
            </td>
            <% end %>
        </tr>
        <% if @enableTitles %>
            <tr style="border-right: 3px solid <%= color %> !important;border-left: 3px solid <%= color %> !important;" class="hidden-sm-up">
                <td rowspan="2">
                    <%= team[:rank] %>
                </td>

                <td>
                    <% if Team.exists?(team[:id]) %>
                    <% tt = Team.find(team[:id]) %>
                    <%= link_to(team[:id], tt) %>
                    <span class="teamname">(<%= tt.name %>)</span>
                <% else %>
                    <%= team[:id] %>
                    <% end %>
                </td>
                <td><%= team[:qp] %></td>
                <td><%= team[:rp] %></td>
                <td><%= team[:high] %></td>
            </tr>
            <tr style="border-bottom: 2px solid black;border-right: 3px solid <%= color %> !important;border-left: 3px solid <%= color %> !important;" class="hidden-sm-up">
            <td colspan="4">
                <%= "Winning" if team[:elim][0] == "W" %>
                <%= "Finalist" if team[:elim][0] == "F" %>
                <%= "Semifinalist" if team[:elim][0] == "S" %>
                <%= " Captain" if team[:elim][1] == "C" %>
                <%= " 1st Pick" if team[:elim][1] == "1" %>
                <%= " 2nd Pick" if team[:elim][1] == "2" %>
            </td>
            </tr>
        <% end %>
        <% end %>
    </table>
<% else %>
    <p>
        This data is currently unavailable.
    </p>
    <% end %>
</div>

<div id="tab-2" class="tab-content">
    <center>
        <!-- <div class="overflow"> -->
            <table class="pure-table pure-table-horizontal centered">
                <thead>
                    <tr class="hidden-xs-down">
                        <th colspan="3">Match Number</th>
                        <th colspan="6">Red Team</th>
                        <center>
                            <th colspan="3">Score</th>
                            <th colspan="3" class="td-meh">Result</th>
                            <th colspan="3">Score</th>
                        </center>
                        <th colspan="6">Blue Team</th>
                    </tr>
                    <tr class="hidden-sm-up">
                        <th colspan="3" rowspan="2">Match Number</th>
                        <th colspan="6">Red Team</th>
                        <th colspan="3">Score</th>
                    </tr>
                    <tr class="hidden-sm-up">
                        <th colspan="6">Blue Team</th>
                        <th colspan="3">Score</th>
                    </tr>
                </thead>
                <% @event_events.each do |event| %>
                <!-- FOR BIG SCREEN -->
                <tr class="hidden-xs-down">
                    <td colspan="3"><%= event[:name] %></td>
                    <% event[:redteam].each do |team| %>
                        <td colspan="<%= event[:numteams] %>" class="teamred">
                            <% if Team.exists?(team) %>
                            <% tt = Team.find(team) %>
                            <%= link_to(team, tt) %>
                            <span class="teamname">(<%= tt.name %>)</span>
                        <% else %>
                            <%= team %>
                            <% end %>
                        </td>
                    <% end %>
                    <% if event[:reddetails].length > 0 %>
                        <td colspan="3"><%= button_to(event[:redscore],"#", class:"score_popup_open pure-button button-full",data:event[:reddetails]) %></td>
                    <% else %>
                        <td colspan="3"><%= event[:redscore] %></td>
                    <% end %>

                    <% if event[:redscore].to_i > event[:bluescore].to_i %>
                        <td colspan="3" class="teamred">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </td>
                    <% elsif event[:redscore].to_i == event[:bluescore].to_i%>
                        <td colspan="3"></td>
                    <% else %>
                        <td colspan="3" class="teamblue">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </td>
                    <% end %>
                    <% if event[:bluedetails].length > 0 %>
                        <td colspan="3"><%= button_to(event[:bluescore],"#", class:"score_popup_open pure-button button-full",data:event[:bluedetails]) %></td>
                    <% else %>
                        <td colspan="3"><%= event[:bluescore] %></td>
                    <% end %>
                    <% event[:blueteam].each  do |team| %>
                    <td colspan="<%= event[:numteams] %>" class="teamblue">
                        <% if Team.exists?(team) %>
                        <% tt = Team.find(team) %>
                        <%= link_to(team, tt) %>
                        <span class="teamname">(<%= tt.name %>)</span>
                    <% else %>
                        <%= team  %>
                        <% end %>
                    </td>
                    <% end %>
                </tr>
                <!-- FOR LITTLE SCREEN -->
                <tr class="hidden-sm-up" style="border-top:2px solid black;">
                    <td colspan="3" rowspan="2"  class="<%= "teamred" if event[:redscore].to_i > event[:bluescore].to_i %> <%= "teamblue" if event[:redscore].to_i < event[:bluescore].to_i %>"><%= event[:name] %></td>
                    <% event[:redteam].each do |team| %>
                        <td colspan="<%= event[:numteams] %>" class="teamred">
                            <% if Team.exists?(team) %>
                            <% tt = Team.find(team) %>
                            <%= link_to(team, tt) %>
                            <span class="teamname">(<%= tt.name %>)</span>
                        <% else %>
                            <%= team %>
                            <% end %>
                        </td>
                    <% end %>
                    <% if event[:reddetails].length > 0 %>
                        <td colspan="3"><%= button_to(event[:redscore],"#", class:"score_popup_open pure-button button-full",data:event[:reddetails]) %></td>
                    <% else %>
                        <td colspan="3"><%= event[:redscore] %></td>
                    <% end %>
                </tr>
                <tr class="hidden-sm-up">
                    <% event[:blueteam].each  do |team| %>
                    <td colspan="<%= event[:numteams] %>" class="teamblue">
                        <% if Team.exists?(team) %>
                        <% tt = Team.find(team) %>
                        <%= link_to(team, tt) %>
                        <span class="teamname">(<%= tt.name %>)</span>
                    <% else %>
                        <%= team  %>
                        <% end %>
                    </td>
                    <% end %>
                    <% if event[:bluedetails].length > 0 %>
                    <td colspan="3"><%= button_to(event[:bluescore],"#", class:"score_popup_open pure-button button-full",data:event[:bluedetails]) %></td>
                <% else %>
                    <td colspan="3"><%= event[:bluescore] %></td>
                    <% end %>
                </tr>

                <% end %>
            </table>
        <!-- </div> -->
    </center>
</div>
<p>
    Team number not highlighted?
    <%= link_to "Contact Me", "help@ftcroot.com" %>
</p>
<%#= link_to 'Back', 'javascript:history.go(-1);' %>
