<% content_for :title do %>About<% end %>
<h2>About the Website</h2>
<p> Simple FTC team finder </p>
<br/>
<p>Made by: FTC <%= link_to('Chaos Monkeyz 11090',"http://chaosmonkeyz.com/",:class=>"pure-button button-secondary  nav-link") %></p>
<p>Kevin Fang <%= link_to('TheReddKing!', 'http://apps.reddolution.com',:class=>"pure-button button-secondary  nav-link") %> </p>
<p> Thanks to everyone who provided FTC meet data (especially <%= link_to('cheer4FTC',"https://github.com/cheer4ftc/ftc-data",:class=>"pure-button button-secondary nav-link") %> and <%= link_to('FTCStats',"http://ftcstats.org",:class=>"pure-button button-secondary nav-link") %>)</p>
<br/>
<p>Ideas? <%= link_to('Email Us', 'mailto:help@ftcroot.com',:class=>"pure-button button-secondary  nav-link") %> </p>
<p>Want to work together (need to know Ruby or Python)? We can do awesome things with more people :P</p>

<br/><br/>
<br/>
<p>
This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>
