<%= form_for(league_meet) do |f| %>
  <% if league_meet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(league_meet.errors.count, "error") %> prohibited this league_meet from being saved:</h2>

      <ul>
      <% league_meet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :meetid %>
    <%= f.number_field :meetid %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
