<% content_for :title do %><%=@league_meet.name %><%end %>
<p id="notice"><%= notice %></p>

<h1>
    <center>
    <%= @league_meet.name %>
</center>
</h1>

<p>
    <strong>Location:</strong>
    <%= @league_meet.location %>
</p>

<p>
    <strong>Approximate Date:</strong>
    <%= @league_meet.date %>
</p>

<table>
    <tr>
        <th>Match Number</th>
        <th>Red Team</th>
        <center>
            <th>Score</th>
            <th>Result</th>
            <th>Score</th>
        </center>
        <th>Blue Team</th>
    </tr>
    <% @league_meet.league_meet_events.each do |event| %>
    <tr>
        <td><%= event.order %></td>
        <td>
            <% event.league_meet_event_teams.where(:alliance=>"RED").each do |team| %>
                <% if Team.exists?(team.teamid) %>
                    <%= link_to(team.teamid, Team.find(team.teamid)) %>
                <% else %>
                    <%= team.teamid %>
                <% end %>
            <% end %>
        </td>
        <center>
            <td><%= event.redscore %></td>
            <% if event.redscore > event.bluescore %>
                <td><<-----</td>
            <% elsif event.redscore == event.bluescore %>
                <td>--------</td>
            <% else %>
                <td>----->></td>
            <% end %>
            <td><%= event.bluescore %></td>
        </center>
        <td>
            <% event.league_meet_event_teams.where(:alliance=>"BLUE").each do |team| %>
                <% if Team.exists?(team.teamid) %>
                    <%= link_to(team.teamid, Team.find(team.teamid)) %>
                <% else %>
                    <%= team.teamid  %>
                <% end %>
            <% end %>
        </td>
    </tr>
    <% end %>
</table>
<p> Team number not highlighted? <%= link_to "Contact Me", "help@ftcroot.com" %> </p>
<%= link_to 'Back', 'javascript:history.go(-1);' %>
