<% content_for :title do %><%=@league_meet.name %> (<%= @league_meet.location %> FTC Results)<%end %>
<p id="notice"><%= notice %></p>

<h1>
    <center>
    <%= @league_meet.name %>
</center>
</h1>

<p>
    <strong>Location:</strong>
    <%= @league_meet.location %>
</p>

<p>
    <strong>Approximate Date:</strong>
    <%= @league_meet.date %>
</p>
<center>
    <div class="overflow">
<table class="pure-table pure-table-horizontal centered">
    <thead>
        <tr>
            <th>Match Number</th>
            <th colspan="2">Red Team</th>
            <center>
                <th>Score</th>
                <th class="td-meh">Result</th>
                <th>Score</th>
            </center>
            <th colspan="2">Blue Team</th>
        </tr>
    </thead>
    <% @league_meet.league_meet_events.each do |event| %>
        <tr>
            <td><%= event.name %></td>
            <% ([event.red1, event.red2]).each do |team| %>
                <td class="teamred">
                    <% if Team.exists?(team) %>
                    <% tt = Team.find(team) %>
                        <%= link_to(team, tt) %>
                        <span class="teamname">(<%= tt.name %>)</span>
                    <% else %>
                        <%= team %>
                    <% end %>
                </td>
            <% end %>
            <td><%= event.redscore %></td>
            <% if event.redscore > event.bluescore %>
                <td class="teamred"><i class="fa fa-arrow-left" aria-hidden="true"></i></td>
            <% elsif event.redscore == event.bluescore %>
                <td></td>
            <% else %>
                <td class="teamblue"><i class="fa fa-arrow-right" aria-hidden="true"></i></td>
            <% end %>
            <td><%= event.bluescore %></td>
            <% ([event.blue1,event.blue2]).each  do |team| %>
                <td class="teamblue">
                    <% if Team.exists?(team) %>
                    <% tt = Team.find(team) %>
                        <%= link_to(team, tt) %>
                        <span class="teamname">(<%= tt.name %>)</span>
                    <% else %>
                        <%= team  %>
                    <% end %>
                </td>
            <% end %>
        </tr>
    <% end %>
</table>
</div>
</center>
<p> Team number not highlighted? <%= link_to "Contact Me", "help@ftcroot.com" %> </p>
<%= link_to 'Back', 'javascript:history.go(-1);' %>
