<% content_for :title do %><%=@league_meet.name %> (<%= @league_meet.location %> FTC Results)<%end %>
<p id="notice"><%= notice %></p>

    <center>
<h1>
    <%= @league_meet.name %>
</h1>

<h3>
    <%= @league_meet.location %> (~<%= @league_meet.date %>)
</h3>
<p>
    Type: <%= @league_meet.competitiontype %>
</p>
</center>


<%= render "shared/eventresults" %>

<center>
    <div class="overflow">
<table class="pure-table pure-table-horizontal centered">
    <thead>
        <tr>
            <th colspan="3">Match Number</th>
            <th colspan="6">Red Team</th>
            <center>
                <th colspan="3">Score</th>
                <th colspan="3" class="td-meh">Result</th>
                <th colspan="3">Score</th>
            </center>
            <th colspan="6">Blue Team</th>
        </tr>
    </thead>
    <% @league_meet_events.each do |event| %>
        <tr>
            <td colspan="3"><%= event[:name] %></td>
            <% event[:redteam].each do |team| %>
                <td colspan="<%= event[:numteams] %>" class="teamred">
                    <% if Team.exists?(team) %>
                    <% tt = Team.find(team) %>
                        <%= link_to(team, tt) %>
                        <span class="teamname">(<%= tt.name %>)</span>
                    <% else %>
                        <%= team %>
                    <% end %>
                </td>
            <% end %>
            <% if event[:reddetails].length > 0 %>
                <td colspan="3"><%= button_to(event[:redscore],"#", class:"score_popup_open pure-button button-full",data:event[:reddetails]) %></td>
            <% else %>
                <td colspan="3"><%= event[:redscore] %></td>
            <% end %>

            <% if event[:redscore].to_i > event[:bluescore].to_i %>
                <td colspan="3" class="teamred"><i class="fa fa-arrow-left" aria-hidden="true"></i></td>
            <% elsif event[:redscore].to_i == event[:bluescore].to_i%>
                <td colspan="3"></td>
            <% else %>
                <td colspan="3" class="teamblue"><i class="fa fa-arrow-right" aria-hidden="true"></i></td>
            <% end %>
            <% if event[:bluedetails].length > 0 %>
                <td colspan="3"><%= button_to(event[:bluescore],"#", class:"score_popup_open pure-button button-full",data:event[:bluedetails]) %></td>
            <% else %>
                <td colspan="3"><%= event[:bluescore] %></td>
            <% end %>
            <% event[:blueteam].each  do |team| %>
                <td colspan="<%= event[:numteams] %>" class="teamblue">
                    <% if Team.exists?(team) %>
                    <% tt = Team.find(team) %>
                        <%= link_to(team, tt) %>
                        <span class="teamname">(<%= tt.name %>)</span>
                    <% else %>
                        <%= team  %>
                    <% end %>
                </td>
            <% end %>
        </tr>
    <% end %>
</table>
</div>
</center>
<p> Team number not highlighted? <%= link_to "Contact Me", "help@ftcroot.com" %> </p>
<%#= link_to 'Back', 'javascript:history.go(-1);' %>
