<% content_for :title do %><%= @region.name %> -- FTC Root<%end %>
<p id="notice"><%= notice %></p>

<center>
<h1>
  <%= @region.name %>
  </h1>
  <h3>
  <%= link_to "View region stats at FTCStats.org", @website, :class=>"pure-button pure-button-primary nav-link" if @website %>
</h3>


<table class="pure-table centered" style="max-width:600px;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Approx. Date</th>
            <!-- <th>Location</th> -->

            <!-- <th colspan="3"></th> -->
        </tr>
    </thead>

    <tbody>
        <% @meets.each do |event| %>
        <tr>
            <td><%= link_to event.name, event %></td>
            <td><%= event.date %></td>
            <!-- <td><%#= event.location %></td> -->
        </tr>
        <% end %>
        <%= will_paginate @meets %>
    </tbody>
</table> </center>

<%= link_to 'Back', 'javascript:history.go(-1);' %>
