<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @region.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @region.website %>
</p>

<p>
  <strong>Info:</strong>
  <%= @region.info %>
</p>
<center>
<table class="pure-table" style="max-width:600px;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Approx. Date</th>
            <!-- <th>Location</th> -->

            <!-- <th colspan="3"></th> -->
        </tr>
    </thead>

    <tbody>
        <% @meets.each do |event| %>
        <tr>
            <td><%= link_to event.name, event %></td>
            <td><%= event.date %></td>
            <!-- <td><%#= event.location %></td> -->
        </tr>
        <% end %>
        <%= will_paginate @meets %>
    </tbody>
</table> </center>

|
<%= link_to 'Back', 'javascript:history.go(-1);' %>
