<%# add navigation links to this file %>
<!-- <li class='nav-item'><%= link_to 'Twitter Mojo', page_path('twitter'), class: 'nav-link' %></li> -->
<h4>
<li class='nav-item'><%= link_to 'Events', events_path, class: 'pure-button button-primary nav-link' %></li>
<li class='nav-item'><%= link_to 'Teams', teams_path, class: 'pure-button pure-button-primary nav-link' %></li>
<li class='nav-item'><%= link_to 'About', page_path('about'), class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Game Rule Clarifications', '/search', class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Useful Links', page_path('usefultools'), class: 'nav-link' %></li>
</h4>
