<%# add navigation links to this file %>
<!-- <li class='nav-item'><%= link_to 'Twitter Mojo', page_path('twitter'), class: 'nav-link' %></li> -->
<h4>
<li class='nav-item'><%= link_to 'Useful Stuff', page_path('usefultools'), class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Question/Answer Search', '/search', class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'League Meets', league_meets_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'About', page_path('about'), class: 'nav-link' %></li>
</h4>
