<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "ftcroot" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Find and discover other FTC teams" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <%= include_gon %>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  </head>
  <body>

    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <footer>
        <%= render 'layouts/navigationfooter' %>
    </footer>
  </body>
</html>
