<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "FTC Root" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Find, scout and discover other FTC teams. View event results and top scorers" %>">
    <meta name="keywords" content="Chaos Monkeyz team scouting FTC scout 11090 search find forum competition velocity vortex results event data information website FTCRoot autonomous top score OPR match maches result">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <%= include_gon %>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDJRN6Cg9T-qyFWxc4dZo8QUC6HbV6rmGk&libraries=places"></script>
  </head>
  <body>

    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <footer>
        <%= render 'layouts/navigationfooter' %>
    </footer>
  </body>
</html>
